body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #cac9c9;
}

header {
    background: #4d4c4c;
    color: white;
    padding: 15px;
    border-radius: 25px;
}

nav a {
    color: rgb(255, 250, 250);
    margin-right: 15px;
    text-decoration: center;
    text-align: center;
}

.carros {
    padding: 20px;
}

.carro {
    background: #f2fff6;
    padding: 0.5px;
    margin-bottom: 30px;
    border-radius: 15px;
    text-align: center;
}
img{
    margin: 0;
    height: 15vh;
    
}
h1{
    color: #000000;
    border-radius: 10px;
    text-align: center;
    height: auto;
}
